<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory Management System</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Inventory Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">List of Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/suppliers}">List of Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customers}">List of Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/employees}">List of Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orders}">Order Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <h1>List of Products</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/products/new}" class="btn btn-primary btn-sm mb-3">Add Product</a>
        </div>
    </div>
    <table class="table table-dark table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Part Number</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Cost</th>
            <th>Retail Price</th>
            <th>Supplier Brand</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.partNumberId}"></td>
            <td th:text="${product.partDescription}"></td>
            <td th:text="${product.partQty}"></td>
            <td th:text="${product.partCost}"></td>
            <td th:text="${product.partRetailPrice}"></td>
            <td th:text="${product.supplier == null ? 'Not Selected' : product.supplier.supplierBrand}"></td>
            <td>
                <a th:href="@{/products/edit/{id}(id=${product.partNumberId})}" class="btn btn-primary">Update</a>
                <a th:href="@{/products/{id}(id=${product.partNumberId})}"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>